{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "require-jsdoc": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 80,
        "bracketSpacing": false
      }
    ],
    "operator-linebreak": [
      2,
      "after",
      { "overrides": { "?": "before", ":": "before" } }
    ],
    "indent": ["error", 2]
    // "semi": "off"
    // "no-unused-vars": "warn"
  },
  "extends": ["eslint:recommended", "prettier", "google"],
  "plugins": ["prettier"]
}
