{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "require-jsdoc": "off",
    "operator-linebreak": [
      2,
      "after",
      { "overrides": { "?": "before", ":": "before" } }
    ],
    "indent": ["error", 2],
    "no-unused-vars": "warn"
  },
  "extends": ["eslint:recommended", "google"]
}
